@model RegistrationAndLogin.Models.Users
@{
    ViewBag.Title = "RegistrationAdmin";

}
@using RegistrationAndLogin.Models;



<div class="card-body">
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.Message
            </div>
        }

        using (Html.BeginForm("RegistrationAdmin", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>

                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "FirstName" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "LastName" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>

                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-birthday-cake"></i></span>
                </div>

                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">


                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>

                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <br />
    <div class="row" enctype="multipart/form-data">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">


                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.EditorFor(model => model.numtelephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "numtelephone" } })
                @Html.ValidationMessageFor(model => model.numtelephone, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-xs-12 col-sm-6" enctype="multipart/form-data">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>

                @Html.EditorFor(x => x.URL_IMAGE_USER, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.URL_IMAGE_USER, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">


                <select id="RoleID" name="RoleID" class="form-control">
                    @using (MyDatabaseEntities24 dc = new MyDatabaseEntities24())
                    {
                        foreach (var data in dc.Roles.ToList())
                        {
                            <option value="@data.RoleID"> @data.Rolename </option>
                        }

                    }

                </select>

            </div>
        </div>


    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>

</div>

        }
    }
    else
    {


        using (Html.BeginForm("RegistrationAdmin", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>

                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "FirstName" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "LastName" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>

                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-birthday-cake"></i></span>
                </div>

                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">


                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>

                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <br />
    <div class="row" enctype="multipart/form-data">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">


                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.EditorFor(model => model.numtelephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "numtelephone" } })
                @Html.ValidationMessageFor(model => model.numtelephone, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-xs-12 col-sm-6" enctype="multipart/form-data">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>

                @Html.EditorFor(x => x.URL_IMAGE_USER, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.URL_IMAGE_USER, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">


                <select id="RoleID" name="RoleID" class="form-control">
                    @using (MyDatabaseEntities24 dc = new MyDatabaseEntities24())
                    {
                        foreach (var data in dc.Roles.ToList())
                        {
                            <option value="@data.RoleID"> @data.Rolename </option>
                        }

                    }

                </select>

            </div>
        </div>


    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>

</div>

}

    }

</div>   

 
     
     
        
   